*,
*::before,
*::after,
h1 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

body {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  line-height: calc(17 / 14);

  background-color: #eaeaea;

  overflow-x: hidden;
}

.wrapper {
  position: relative;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100%;
}

main {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: #{$maxWidthContainer + px};

  @media (max-width: #{$maxWidthContainer + px}) {
    padding: 0 30px;
  }

  @media (max-width: #{$maxWidthContainer + px}) {
    padding: 0 10px;
  }
}

body .material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
}
