$maxWidth: 1440;
$maxWidthContainer: 1190;

$middleWidth: 1279.9; // from 768 to 1280
$minWidth: 767.9; //from 320 to 768

$color_basic: #101010;
$color_accent: #ffa542;
$color_accent-light: #ffce7f;
$color_dark: #1c1c27;
$color_light: #838383;
