.buyBtn {
  font-weight: 600;
  font-size: 17px;
  color: #000000;

  background: none;
  border: none;

  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      scale: 1.1;
    }
  }

  &:active {
    scale: 1;
  }
}